* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(Imagenes/Puzzle\ 4.\ .jpg);
    ;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: system-ui;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 35px 5%;
}

nav .logo {
    font-size: 30px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

nav ul li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .navLinks button {
    padding: 2px 20px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
    margin-left: 10px;
}

nav ul li:hover {
    background-color: black;
}

nav .menubtn {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

/* responsive navbar css */
@media screen and (max-width: 600px) {
    nav .menubtn {
        display: flex;
    }

    nav .navLinks {
        display: none;
    }

    .sideNav {
        display: block !important;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

.row .column1 {
    padding-right: 50px;
}

.column1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.column1 p {
    font-size: 25px;
    margin-bottom: 20px;
}

.column1 button {
    width: 150px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

/* Header content responsive */
@media screen and (max-width:980px) {
    .column2 img {
        width: 350px;
    }

    .column1 h1 {
        font-size: 40px;
    }

    .column1 p {
        font-size: 17px;
    }

    .row {
        margin-top: 80px;
    }
}

@media screen and (max-width:600px) {

    .column1 h1 {
        font-size: 35px;
    }

    .row {
        flex-direction: column;
    }

    .row .column1 {
        padding: 30px;
    }
}